.myBG {
    height: auto;
    /*background: url("../assets/images/bg/main_1.jpg");*/
    background-size: cover;
    background-color: white;
}

.intro {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
}

.title {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px white;
    letter-spacing: 4px;
}

.titleOne {
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px white;
    letter-spacing: 4px;
}

.titleTwo {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px white;
    letter-spacing: 4px;
}

.movies {
    height: auto;
    /*background: url("../assets/images/bg/scifi.jpg");*/
    background-color: black;
    background-size: cover;
}

.superhero {
    height: auto;
    background: url("../assets/images/bg/spiderman.jpg");
    background-size: cover;
}

.images {
    height: auto;
}

.navbar-title {
    line-height: 1;
    text-shadow: 2px 2px red;
    letter-spacing: 4px;
}

.movieWrapper {
    height: auto;
}

.movieOverview {
    text-align: justify;
}

.movieDate {
    margin-top: 15px;
    color: white;
}

.movieTitle {
    font-size: 10px;
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

.movieImage {
    height: auto;
    background-color: black;
    margin: 5px;
    padding: 1px;
}

.movieRate {
    margin-top: 15px;
    color: red;
}

.movieSearch {
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 15px;
    width: 650px;
    /*height: 48px;
    font-size: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;
    font-weight: bold;
    width: 475px;
    justify-content: center;
    align-items: center;
    text-align: center;*/
}

.searchBox {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
    border-radius: 6px;
    margin-left: 20px;
    width: 700px;
    border: solid;
}

.searchIcon {
    width: 32px;
    height: 32px;
}
