.trailer-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.trailer-modal-content {
    position: relative;
    background: #111;
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 200vh;
    height: 90vh;
    box-shadow: 0 0 30px #000;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    z-index: 100;
}

/*
.react-player-container{
    height: 90vh;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
    background: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}
.player-wrapper {
    position: relative;
    height: 90vh;
}*/
